#PutName{
font-size: 120px;
text-align: center;
font-weight: bold;
font-family: Chiller;
color: #999999;

border: none;

background-color: gray;
background: none;
}

#Chant1{
font-size: 96px;
text-align: center;
font-weight: bold;
font-family: Chiller;
color: #999999;

border: none;

background: none;
}
#Chant2{
font-size: 96px;
text-align: center;
font-weight: bold;
font-family: Chiller;
color: #999999;

border: none;

background: none;
}

#Chant3{
font-size: 96px;
text-align: center;
font-weight: bold;
font-family: Chiller;
color: #999999;

border: none;

background: none;
}

#Chant4{
font-size: 96px;
text-align: center;
font-weight: bold;
font-family: Chiller;
color: #999999;

border: none;

background: none;
}

#Chant5{
font-size: 96px;
text-align: center;
font-weight: bold;
font-family: Chiller;
color: #999999;

border: none;

background: none;
}